#jumbo {  
    background-image:url('Little\ Bird\ Toys\ Logo\ \(1\).png');  
    background-repeat:no-repeat;  
    background-size: cover;
    background-position: center;
    width:100%;  
    }  

    body {
        margin-left: auto;
        margin-right: auto;
        max-width: 80em;
        background-color: grey;
      }

      .accordionTitle {
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      
      .accordionTitle + .accordionContent {
        display: none;
      }
    
      .accordionTitle.is-open + .accordionContent {
        display: block;
      }