@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,100&family=Cormorant+SC:wght@600&family=League+Gothic&display=swap');

#jumbo {  
    background-image:url('images/Little\ Bird\ Toys\ Logo\ \(1\).png');  
    background-repeat:no-repeat;  
    background-size: cover;
    background-position: center;
    width:100%;  
    }  

    body {
        margin-left: auto;
        margin-right: auto;
        max-width: 80em;
        background-color: grey;
      }

      #press-quote {
        font-style: italic;
        font-size: 1.4rem;
        line-height: 1.5;
        font-weight: 300;
        margin: 1.8rem 0;
        border-left: 4px solid #53b7ea;
        padding-left: 1em;
      }
    
      
      .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
      }
      
      .active, .accordion:hover {
        background-color: #ccc; 
      }
      
      .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
      }

/* Code is courtosy of W3Schools*/

----------------------------------------------------------------------------------------
.mcgovernPanelTab {
    background-color: #dce0e3;
    background-image: url('../img/stripes.png');
    margin: 0;
    cursor: pointer;
    color: #000000;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    text-align: center;
    border: 3px solid rgb(167, 167, 167);
    width: 45%;
    margin: auto;
}
.mcgovernPanelTab:hover {
    color: #000000;
    background-color:#dce0e3;
    transition: .5s;
}
.mcgovernPanelContent {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 160px;
    background: url(../img/bg-accordion.jpg);
}
.highlight {
    color: rgb(255, 255, 255);
    background-color:#0d7cd685;
    border: 3px solid rgb(255, 255, 255);
}
.lws-title {
    font-family: 'Contrail One';
    padding-top: 5px;
}
.lws-text {
    font-family: 'Share Tech Mono', monospace;
    background-color: #dce0e3;
    text-align: center;
    border: 3px solid rgb(207, 106, 39);
    width: 45%;
    margin: auto;
    color: rgb(0, 0, 0);
}
.navbg1 {
    background-color: #c6c9cc;
    border-bottom: 3px solid #c8ccce;
}
.navbg2 {
    background-color: #d9dcdf;
    border-bottom: 3px solid rgb(207, 106, 39);
}
.regbgborder {
    border: 3px solid rgb(207, 106, 39);
    background-color: #d9dcdf;
    width: 55%;
    height: 100%;
}
.imgborder {
    border: 7px solid rgb(207, 106, 39);
    border-radius: 10px;
    width: 600px;
}
::selection {
    background: rgb(160, 160, 160);
  }